a img{
    width: 80px;
    margin: 7px;
}
a i{
    opacity: 0.9;
}
a i:hover{
    opacity: 1;
}
h2{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
}
.confirmar{
    font-family: 'Roboto', sans-serif; 
    font-size: 200%;
}
.botao{
    width: 8%;
    margin: auto;
}
blockquote{
    border-left: 5px solid teal;
    font-family: 'Roboto', sans-serif;
}