a img{
    width: 80px;
    margin: 7px;
}
a i{
    opacity: 0.9;
}
a i:hover{
    opacity: 1;
}
.titulo{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}
h1{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
}
.confirmar{
    font-family: 'Roboto', sans-serif; 
    font-size: 200%;
}
label{
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
}
.row{
    width: 35%;
}
input{
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
}
.tipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.setores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.permissao{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boleanos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.editar{
    display: flex;
    float: center;
    width:8%;
    margin: auto;
}
blockquote{
    border-left: 5px solid teal;
    font-family: 'Roboto', sans-serif;
}
